.hero {
  padding-bottom: 30px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    padding-bottom: 20px;
    color: $secondary-color;
  }
  &-desc {
    max-width: 70%;
    padding-bottom: 30px;
    color: $medium-gray-color;
  }
  &-image {
    max-width: 500px;
    margin-right: 30px;
  }
  &-group {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  @media screen and (max-width: 900px) {
    &-container {
      flex-direction: column-reverse;
    }
    &-image {
      padding-bottom: 50px;
      width: 300px;
    }
    &-title {
      text-align: center;
    }
    &-desc {
      max-width: 100%;
    }
  }
}
