//font family
$font: "Poppins", system-ui;

//colors
$white-color: #fff;
$dark-color: #271c19;
$primary-color: #55423d;
$secondary-color: #e78fb3;
$tertiary-color: #9656a1;
$light-pink-color: #faf4f5;
$medium-gray-color: #ccc;
$button-color: #271c19;
$card-color: #55423d;
//font sizes
$font-size-s: 0.9rem;
$font-size-n: 1rem;
$font-size-m: 1.12rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.3rem;

//font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//border radius
$border-radius-s: 8px;
$border-radius-m: 30px;
$border-radius-circle: 50%;

//site max width
$site-max-width: 1300px;
